# Web framework
Flask==3.0.3
flask-cors==6.0.2

# PostgreSQL driver
psycopg2-binary==2.9.9

# Environment variable loading
python-dotenv==1.0.1

# Password hashing (for auth later)
bcrypt==5.0.0

# JWT authentication (for auth later)
PyJWT==2.8.0

# Neo4j python driver
neo4j==6.1.0

# HTTP requests (TMDB API calls)
requests==2.32.3

# Wikipedia 
Wikipedia-API==0.14.0
